  <div class='calendar'>
    <%# <%= form_with model: , local: true do |f| %> 
    <div class='members'>
      <div class='member'>@member.name</div>
      <div class='member'>@member.name</div>
      <div class='member'>@member.name</div>
      <div class='member'>@member.name</div>

    </div>
    <% @week_days.each do |day| %>
      <div class='item'>
        <div class='date'>
          <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
        </div>
        <div class='position'>
          positionA
        </div>
        <div class='position'>
          positionB
        </div> 
        <div class='position'>
          positionB
        </div>    
        <div class='position'>
          positionB
        </div>    
   
      </div>
    <% end %>
  </div>

  <%# <%= f.submit "この内容で登録する" %> 

  <div class='buttons'>
    <div class='member-register'><%= link_to 'メンバーを登録', '#', class: 'button' %></div>
    <div class='position-register'><%= link_to '配置箇所を登録', '#', class: 'button' %></div>
  </div>
