  <div class='calendar'>
    <%# <%= form_with model: , local: true do |f| %> 
    <div class='members'>
      <% Member.all.each do |member| %>
        <div class='member'><%= member.name %></div>
      <% end %>
    </div>
    <% @week_days.each do |day| %>
      <div class='item'>
        <div class='date'>
          <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
        </div>
        <% Member.count.times do %>
          <div class='position'>
            <select>
              <% Position.all.each do |position| %>
                <option><%= position.position %></option>
              <% end %>
            </select>
          </div>
        <% end %>   
      </div>
    <% end %>
  </div>

  <%# <%= f.submit "この内容で登録する" %> 

  <div class='buttons'>
    <div class='member-register'><%= link_to 'メンバーを登録', members_path, class: 'button' %></div>
    <div class='position-register'><%= link_to '配置箇所を登録', positions_path, class: 'button' %></div>
  </div>
