人員配置表  
  <div class='calendar'>
    <div class='members'>
      <% @members.each do |member| %>
        <div class='member'><%= member.name %></div>
      <% end %>
    </div>
    <% @week_days.each do |day| %>
      <div class='item'>
        <% if day[:wday] == '(土)' || day[:wday] == '(日)' %>
          <div class='weekend'>
            <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
          </div>
        <% else %>
          <div class='date'>
            <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
          </div>
        <% end %>
        <% @members.count.times do |i| %>
          <% if day[:wday] == '(土)' || day[:wday] == '(日)' %>
            <div class='position-weekend'>
            </div>
          <% else %>
            <div class='position'>
              <%= day[:position][i] %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class='buttons'>
    <% unless Staffing.exists? %>
      <%= link_to "入力画面へ", new_staffing_path, class: "button" %>
      <%= link_to "日付削除", destroy_all_staffings_path, method: :delete, class: "button" %>
    <% else %>
      <%= link_to "削除", destroy_all_staffings_path, method: :delete, class: "button" %>
    <% end %>
  </div>

  <% @uniq.count.times do |i| %>
    <div class="uniq">
      「<%= @uniq[i][:member] %>」は「<%= @uniq[i][:position] %>」に4回以上配置されています。
    </div>
  <% end %>