<div class="main"> 
  <div class="title">
    <h3>人員配置表</h3>
    <% unless Staffing.exists? %>
      <p>・入力画面から人員・配置箇所・人員配置の登録ができます</p>
      <p>・日付を削除すると日付選択に戻ります</p>
    <% else %>
      <p>・削除ボタンをクリックすると削除され、日付選択に戻ります</p>
      <p>・同じ箇所に4回以上配置される場合メッセージが表示されます</p>
      <p>・同じ曜日で同じ箇所に配置されている場合メッセージが表示されます</p>
    <% end %>
  </div>
  <div class='calendar'>
    <div class='members'>
      <% @members.each do |member| %>
        <div class='member'><%= member.name %></div>
      <% end %>
    </div>
    <% @week_days.each do |day| %>
      <div class='item'>
        <% if day[:wday] == '(土)' || day[:wday] == '(日)' %>
          <div class='weekend'>
            <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
          </div>
        <% else %>
          <div class='date'>
            <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
          </div>
        <% end %>
        <% @members.count.times do |i| %>
          <% if day[:wday] == '(土)' || day[:wday] == '(日)' %>
            <div class='position-weekend'>
            </div>
          <% else %>
            <div class='position'>
              <%= day[:position][i] %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class='buttons'>
    <% unless Staffing.exists? %>
      <%= link_to "入力画面へ", new_staffing_path, class: "button" %>
      <%= link_to "日付削除", destroy_all_staffings_path, method: :delete, class: "button" %>
    <% else %>
      <%= link_to "削除", destroy_all_staffings_path, method: :delete, class: "button" %>
    <% end %>
  </div>

  <% @uniq.count.times do |i| %>
    <div class="uniq">
      「<%= @uniq[i][:member] %>」は「<%= @uniq[i][:position] %>」に4回以上配置されています。
    </div>
  <% end %>

  <% @week_uniq.each do |week_uniq| %>
    <div class="uniq">
      「<%= week_uniq[:member] %>」は「<%= week_uniq[:position] %>」に２週連続、<%= week_uniq[:wday] %>曜日で配置されています。
    </div>
  <% end %>
</div>
