人員配置の登録
  <div class='calendar'>
    <%= form_with model: @staffing, url: staffings_path, class: 'form' do |f| %>
      <div class='members'>
        <% @members.each do |member| %>
          <div class='member'><%= member.name %></div>
        <% end %>
      </div>
      <% @week_days.each do |day| %>
        <div class='item'>
          <div class=
            <% if day[:wday] == '(土)' || day[:wday] == '(日)' %>
              'weekend'
            <% else %>
              'date'
            <% end %>>
            <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
          </div>
          <% @members.each do |member| %>
            <%= f.fields_for :staffings do |i| %>
              <%= i.date_select :date, {default: {day: day[:date]}}, {class: 'date-input'} %>
            <div class=
              <% if day[:wday] == '(土)' || day[:wday] == '(日)' %>
                'position-weekend'
              <% else %>
                'position'
              <% end %>>
              <%= i.hidden_field :member_id, :value => member.id %>
              <%= i.select :position_id, @positions,{},{} %>
            </div>
            <% end %>
          <% end %>   
        </div>
      <% end %>
      <%= f.submit '保存' %>
    <% end %>
  </div>

  <div class='buttons'>
    <%= link_to 'メンバーを登録する', members_path, class: 'button' %>
    <%= link_to '配置箇所を登録する', positions_path, class: 'button' %>
    <%= link_to 'トップページへ', root_path, class: 'button' %>
  </div>

